body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    line-height: 1.5;
}


* {
  box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
	padding: 0;
}

a {
text-decoration: none;
cursor: pointer;
color: #404bbf;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0; 
    padding: 0;
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 img {
    display: block; 
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav,
.adres-info {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;  
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

/* blue-line */
.link-stud::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    position: absolute;
    padding-left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .nav-link .link-stud {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;
    /* position: relative;
    color: #404bbf; */
}

.link-stud {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-info {
    font-style: normal;
    margin-left: auto;
}

.adres-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.adres-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
    transition-duration: 500ms;

}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-stud {
    color: #f4f4fd;
}

.footer-txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-sm {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icon-menu {
    display: flex;
    gap: 16px;
}

.footer-list-icons {
    fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-sub-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-sub-input {
    width: 264px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-sub-input::placeholder {
    color: #ffffff;
}

.footer-btn-sub {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.svg-sub{
    margin-left: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;  
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}