body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
	padding: 0;
}

a {
text-decoration: none;
cursor: pointer;
color: #404bbf;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}
header {
    background: #fff;
}

.page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;  
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

/* blue-line */
.link-stud::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    position: absolute;
    padding-left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .nav-link .link-stud {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;
    /* position: relative;
    color: #404bbf; */
}

.link-stud {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-info {
    font-style: normal;
    margin-left: auto;
}

.adres-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.adres-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
    transition-duration: 500ms;

}

/* main content */
/* section one */

.container .container-one {
    max-width: 1440px;
    height: 587px;
    padding: 188px 0;
}

.section-one {
    max-width: 1440px;
    background-position: center;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}

.section-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button-os {
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-os:hover,
.button-os:focus {
    background-color: #404bbf;
    color: #fff;
}

/* section two */

.section-two {
    padding: 120px 0;
}

.container-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.list-section-two {
    display: flex;
    gap: 24px;  
}

.list-li {
    width: calc((100% - 3 * 24px) / 4);
}

.svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 8px;
}

.strategy-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.strategy-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0; 
    padding: 0;
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

/* section team */

.section-team {
     padding: 120px 0;
     background-color: #f4f4fd;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap; 
}

.card-team {
    border-radius: 0 0 4px 4px;
    padding: 32px 0;
  }

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.item-team {
    background-color: #fff;
    margin-right: 24px;
    margin-right: 0;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

 img {
    border-radius: 0px 0px 4px 4px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px;
    border-top-right-radius: 4px; 
    border-bottom-left-radius:4px;
    display: block; 
    flex-wrap: wrap;
}

.team-icon-menu {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    gap: 24px;
}

.icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.team-list-icons {
    fill: #f4f4fd ;
    background-color: #404bbf;
}

.icon-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list-link:hover,
.icon-list-link:focus {
    background-color: #404bbf;
} 
/* 
.team-list-icons:hover,
.team-list-icons:focus {
    background-color: #404bbf;
} */

/* .icon-list:hover .icon-list-link,
.icon-list:focus .icon-list-link {
    background-color: #404bbf;
} */
/* Section Portfolio */

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px; 
    flex-direction: column;
    align-items: center;
}
.our-port {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px; 
}

.list-portfolio {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding: 0;
    list-style: none;
    column-gap: 24px;
    row-gap: 48px; 
}

.list-team li:last-child {
  margin-right: 0;
}

.li-ptf {
    width: calc((100% - 48px) / 3);
    margin: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-ptf:nth-child(3n) {
    margin-right: 0;
}

.li-ptf img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.ptf-img {
    position: relative;
    overflow: hidden;
}

.port-parag {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.li-ptf:hover {
   transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



.li-ptf:hover .port-parag {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-card {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.port-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    min-width: 1440px;
    height: 312px;
    padding: 100px 0 100px;
    display: flex;
    gap: 64px;
}

.container-footer {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.web-studio {
    margin-right: 120px;
}
.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-stud {
    color: #f4f4fd;
}

.footer-txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

/* .footer-box-media {
    margin-right: 120px;
} */

.footer-sm {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icon-menu {
    display: flex;
    gap: 16px;
}

.footer-list-icons {
    fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-sub-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-sub-form {
    display: flex;
    gap: 24px;
}

.footer-sub-input {
    width: 264px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-sub-input::placeholder {
    color: #ffffff;
}

.footer-btn-sub {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.svg-sub{
    margin-left: 16px;
}

/* modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999999  ;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* opacity: 0;
    visibility: hidden ; */
    margin-bottom: 8px;
}

.backdrop:not(is.open) .modal {
    transform: translate(-50%, -50%);

}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    /* text-transform: uppercase; */
    /* font-family: Roboto;
 
    text-underline-position: from-font;
    text-decoration-skip-ink: none; */
    
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* background-color: transparent; */
    background-color: #e7e9fc;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
     fill: #ffffff;
     border: none;
}

.form-wrapper-cont {
    margin-bottom: 8px;
}

.wrap-comment {
    margin-bottom: 16px;
}

.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.form-user-input:focus {
    border: 1px solid #4d5ae5;
    background-color: #404bbf;
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-icon-wrapper {
    position: relative;
    margin-bottom: 16px;
}

input:focus + .form-user-icon {
    fill: #4d5ae5;
  }

  .form-user-comment {
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    resize: none;
    min-height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    outline: none;
    /* color: #8e8f99; */
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-user-comment:focus {
    border: 1px solid #4d5ae5;
    border-color: #4D5AE5;
    border-color: #4D5AE5;
  }

  .custom-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    background-color: #404bbf;
    margin-right: 12px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
  }

  .checkbox:checked+ .form-user-checkbox .custom-checkbox {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none; 
  }
  .form-user-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .checkbox:checked {
    fill: #F4F4FD;
    border: none; 
  }

.form-wrapper-checkbox {
    color: #4d5ae5;
    margin-bottom: 24px; 
}

.privacy-text {
    color: #4d5ae5; 
}

.form-btn-submit {
    border: none;
    background-color: #4D5AE5;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
}